%meta{:charset => "utf-8"}
%meta{:name => "viewport", :content => "width=device-width,initial-scale=1"}
%meta{:name => "format-detection", :content => "telephone=no"}

-# Pull in the page title
%title= @title

-# Place favicon.ico and apple-touch-icon.png in the root directory: tout-dev/notes/touch-icons
%link{:rel => 'stylesheet', :href => 'http://vjs.zencdn.net/c/video-js.css'}
-#%script{:src => 'http://vjs.zencdn.net/c/video.js'}

= stylesheets_tag
-#= javascripts_tag
