- @touts.each_with_index do |f_tout, index|
  / content-block
  %article.content-block
    .holder
      .img-box
        =link_to "", 'http://64.207.178.146:9292/users-profile/' + f_tout.user.username do
          =image_tag f_tout.user.avatar.small.http_url, :alt => 'image description', :width => '26', :height => '26'
      .text-holder
        %h2
          =link_to f_tout.user.fullname, 'http://64.207.178.146:9292/users-profile/' + f_tout.user.username
        %p 
          =f_tout.text
      %em.time
        =tout_time(f_tout.created_at)
    / placeholder
    .video-block
      <video id="my_video_1" class="video-js vjs-default-skin" controls
      preload="none" width="293" height="100" poster="my_video_poster.png"
      data-setup="{}">
      <source src="#{f_tout.video.mp4.http_url}" type='video/mp4'>
      //<source src="my_video.webm" type='video/webm'>
      </video>
    / btn-holder
    .btn-holder
      %span.reply-link
        =link_to "Reply", '#'
        %em
          =f_tout.replies_count
      %span.like-link
        =link_to "like", '#'
        %em
          =f_tout.likes_count
      =link_to "", '#', :class => 'link-back'
