- @title = "user-profile"
.tabs-holder
  #tab-1.tab-content
    #state1.tab-001.active
      / content-block user
      %article.content-block.user
        .holder
          .img-box.dedicated
            =link_to "", '#' do
              =image_tag '/assets/img19.jpg', :width => '31', :height => '31', :alt => 'image description'
          .text-holder
            %h2
              =link_to "Shaq", '#'
            %p One of my favorite songs by Alicia Keyes...
          %em.time 1d
        / placeholder
        .video-block
          <video id="my_video_1" class="video-js vjs-default-skin" controls
          preload="auto" width="293" height="100" poster="my_video_poster.png"
          data-setup="{}">
          <source src="my_video.mp4" type='video/mp4'>
          <source src="my_video.webm" type='video/webm'>
          </video>
        / info-holder
        .info-holder
          =link_to "4", '#', :class => 'notes'
          =link_to "20", '#', :class => 'likes'
      / content-block user
      %article.content-block.user
        .holder
          .img-box.dedicated
            =link_to "", '#' do
              =image_tag '/assets/img19.jpg', :width => '31', :height => '31', :alt => 'image description'
          .text-holder
            %h2
              =link_to "Shaq", '#'
            %p One of my favorite songs by Alicia Keyes...
          %em.time 1d
        / placeholder
        .video-block
          <video id="my_video_1" class="video-js vjs-default-skin" controls
          preload="auto" width="293" height="100" poster="my_video_poster.png"
          data-setup="{}">
          <source src="my_video.mp4" type='video/mp4'>
          <source src="my_video.webm" type='video/webm'>
          </video>
        / info-holder
        .info-holder
          =link_to "4", '#', :class => 'notes'
          =link_to "20", '#', :class => 'likes'
      / content-block user
      %article.content-block.user
        .holder
          .img-box.dedicated
            =link_to "", '#' do
              =image_tag '/assets/img19.jpg', :width => '31', :height => '31', :alt => 'image description'
          .text-holder
            %h2
              =link_to "Shaq", '#'
            %p One of my favorite songs by Alicia Keyes...
          %em.time 1d
        / placeholder
        .video-block
          <video id="my_video_1" class="video-js vjs-default-skin" controls
          preload="auto" width="293" height="100" poster="my_video_poster.png"
          data-setup="{}">
          <source src="my_video.mp4" type='video/mp4'>
          <source src="my_video.webm" type='video/webm'>
          </video>
        / info-holder
        .info-holder
          =link_to "4", '#', :class => 'notes'
          =link_to "20", '#', :class => 'likes'