/ content-block
%article.content-block
  .holder
    .img-box
      =link_to "", '#' do
        =image_tag '/assets/img08.jpg', :alt => 'image description', :width => '26', :height => '26'
    .text-holder
      %h2
        =link_to "Alan Murray", '#'
      %p Thanks you guys for all the bday wishes...
    %em.time 2 min
  / placeholder
  .video-block
    =image_tag '/assets/img09.jpg', :alt => 'image description', :width => '288', :height => '101'
    =link_to "", '#', :class => 'btn-play'
  / btn-holder
  .btn-holder
    %span.reply-link
      =link_to "Reply", '#'
      %em 0
    %span.like-link
      =link_to "like", '#'
      %em 65
    =link_to "", '#', :class => 'link-back'
/ content-block
%article.content-block
  .holder
    .img-box
      =link_to "", '#' do
        =image_tag '/assets/img08.jpg', :alt => 'image description', :width => '26', :height => '26'
    .text-holder
      %h2
        =link_to "Alan Murray", '#'
      %p Thanks you guys for all the bday wishes...
    %em.time 2 min
  / placeholder
  .video-block
    =image_tag '/assets/img09.jpg', :alt => 'image description', :width => '288', :height => '101'
    =link_to "", '#', :class => 'btn-play'
  / btn-holder
  .btn-holder
    %span.reply-link
      =link_to "Reply", '#'
      %em 0
    %span.like-link
      =link_to "Like", '#'
      %em 65
    =link_to "", '#', :class => 'link-back'
